/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.main-title {
  margin-bottom: 36px;
}

.input-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
}

.timer-input {
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #808080;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.timer-input:hover {
  border: 1px solid #000;
}

.timer-input:active {
  border: 1px solid #4e75ff;
  color: #000;
}

.timer-input:disabled {
  color: #808080;
}

.timer-btn {
  border-radius: 8px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
}

.timer-btn:hover {
  background-color: #6c8cff;
}

.timer-btn:disabled {
  background-color: #cfcfcf;
}
.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 346px;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
}

.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.snackbar-label {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  color: #2e2f42;
}

.snackbar-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
}

.snackbar-input:hover {
  border: 1px solid #000;
}

.snackbar-input:focus-within {
  border: 1px solid #4e75ff;
  outline: none;
}

.legend-title {
  position: absolute;
  top: -14px;
  left: 12px;
  padding: 0 6px;
  text-align: start;
  background-color: #fff;
}

.snackbar-fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 360px;
  height: 65px;
  margin-bottom: 24px;
}

.snackbar-wrapper {
  display: flex;
  justify-content: center;
  width: 264px;
  height: 32px;
  gap: 48px;
  padding: 24px 48px 8px;
}

.snackbar-fieldset:hover {
  border: 1px solid #000;
}

.snackbar-fieldset-input {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 20px;
  height: 20px;
}

.snackbar-fieldset-input:hover {
  border: 1px solid #000;
}

.snackbar-fieldset-label {
  display: flex;
  gap: 8px;
}

.snackbar-btn {
  border-radius: 8px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.snackbar-btn:hover {
  background-color: #6c8cff;
}
